
.total_table .table_and_consensus {
  text-align: left;
  display:flex; 
  flex-direction:row;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.total_table .slider {
  margin-top: 5px;
  background-color: #fceded;
  text-align: left;
  display:flex; 
  flex-direction:row;
  border-style: solid;
  border-color: #fcd1d1;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.total_table .slider .taxon_slider {
  width: 30%;
  border-style: solid;
  border-color: #fcd1d1;
}
.total_table .slider .tanitomo_slider {
  width: 30%;
  border-style: solid;
  border-color: #fcd1d1;
}

.total_table .table_and_consensus .results_table{
	width: 76%;
	background-color: #e2f7ff;
	border-style: solid;
  border-color: #76e1f2;
  margin-top: 5px;
  margin-right: .4%;
  overflow-x:scroll !important;
	}
.total_table .table_and_consensus .consensus{width: 23.6%; background-color: #d1fafc; border-style: solid; border-color: #1bf0fa; margin-top: 5px;}

