@import '../../../colors';

.biochemical-entity-scene-filters-tool-panel {
  width: 100%;

  .MuiAccordionSummary-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .MuiAccordion-root {
    border-bottom: 1px solid #bdc3c7;
  }

  .MuiAccordion-root:last-child {
    border-bottom: none;
  }

  .MuiAccordionSummary-root {
    padding-left: 0.5rem;
    padding-right: 0.125rem;
  }
}
