@import 'colors';

.biochemical-entity-scene-filters-tool-panel {
  width: 100%;

  .MuiExpansionPanelSummary-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .MuiExpansionPanel-root:last-child {
    border-bottom: none !important;
  }

  .MuiExpansionPanelSummary-root {
    padding-left: 0.5rem;
    padding-right: 0.125rem;
    background: none !important;
  }
}
