@import 'colors';

.biochemical-entity-data-table.ag-theme-balham {
  width: 100%;
  font-family: "Ubuntu", sans-serif;

  .ag-group-component .ag-group-component-title-bar {
    font-family: "Ubuntu", sans-serif;
  }

  .ag-row.ag-row-last {
    border-bottom-width: 0;
  }

  // right align numeric cells with check boxes
  .ag-numeric-cell {
    .ag-cell-wrapper {
      justify-content: space-between;
    }
  }

  .ag-side-bar {
    border-right: none;
  }

  .ag-cell {
    .ag-react-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  a {
    color: $color-text;
  }

  a:hover {
    color: $color-primary;
  }
}

.ag-filter-panel {
  max-width: 100%;
}

/* text filter */
.biochemical-entity-scene-text-filter {
  list-style-type: none;
  margin: 0;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-bottom: 0.25rem;

  li {
    display: flex;
    align-items: center;

    .label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  li:not(:first-child) {
    margin-top: 0.25rem;
  }

  input {
    margin: 0;
    margin-right: 0.25rem;
  }
}

/* filter slider */
.biochemical-entity-scene-slider-filter {
  .MuiSlider-thumb {
    height: 15px;
    width: 15px;
    background-color: $color-primary;
  }

  .MuiSlider-thumb:hover,
  .MuiSlider-thumb.MuiSlider-active {
    box-shadow: none;
  }

  .MuiSlider-markLabel {
    font-size: 12px;
  }

  .MuiSlider-mark {
    background-color: $color-border-dark;
  }

  .MuiSlider-markActive {
    background-color: $color-primary;
  }
}

.biochemical-entity-scene-normal-slider-filter {
  .MuiSlider-root {
    color: $color-primary;
  }

  .MuiSlider-rail {
    background-color: $color-border-dark;
  }
}

.biochemical-entity-scene-inverted-slider-filter {
  .MuiSlider-root {
    color: $color-border-dark;
  }

  .MuiSlider-rail {
    background-color: $color-primary;
  }
}

.biochemical-entity-scene-horizontal-slider-filter {
  .MuiSlider-root {
    padding: 15px 0;
  }

  .MuiSlider-root,
  .MuiSlider-track,
  .MuiSlider-trackInverted,
  .MuiSlider-rail {
    height: 2px;
  }

  .MuiSlider-mark {
    height: 8px;
  }

  .MuiSlider-mark,
  .MuiSlider-markActive {
    width: 2px;
  }

  .MuiSlider-thumb {
    margin-top: -7px;
    margin-left: -10px;
  }

  .MuiSlider-valueLabel {
    left: calc(-50% + 11px);
    top: -17px;
    margin-left: -15px;
  }
}

.biochemical-entity-scene-vertical-slider-filter {
  .MuiSlider-root,
  .MuiSlider-track,
  .MuiSlider-trackInverted,
  .MuiSlider-rail {
    width: 2px;
  }

  .MuiSlider-mark {
    width: 8px;
  }

  .MuiSlider-mark,
  .MuiSlider-markActive {
    height: 2px;
  }

  .MuiSlider-markLabel {
    transform: translateY(40%);
  }
}

/* taxonomy filter */
.biochemical-entity-scene-taxonomy-slider-filter {
  height: 150px;
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;

  .MuiSlider-valueLabel {
    display: none;
  }
}

/* Number filter */
.number-slider-filter {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 10px;

  .MuiSlider-thumb:hover,
  .MuiSlider-thumb.MuiSlider-active {
    .MuiSlider-valueLabel {
      display: flex;
    }
  }

  .MuiSlider-valueLabel {
    display: none;
    font-style: 12px;
    white-space: nowrap;

    & * {
      background: transparent;
      color: $color-text;
    }
  }
}
