@import "../../../node_modules/@blueprintjs/core/lib/scss/variables";
.body{
  padding:10px;
}
.main{
  padding-top: $pt-navbar-height+10px;
}

.sider {
  background-color: gray
  
}

.header {
  
}
.content{
 

}
.footer{
}

