@import 'colors';

.content-container-help-scene {
  /* Tutorial */
  .tutorial {
    font-weight: bold;
  }

  .tutorial-step:not(:first-child) {
    margin-top: 0.5rem;
  }

  .tutorial-step-text {
    font-weight: normal;
  }

  /* FAQ */
  .faq {
    .faq-q {
      font-weight: bold;
    }
  }

  .faq:not(:first-child) {
    margin-top: 0.5rem;
  }
  .section-column-icon {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
  border: 1px solid $color-primary-lightish;
  }
}
