.biochemical-entity-protein-scene {
  .vertical_center {
    width: 200px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .vertical_center img {
    margin-left: 20px;
    width: 45%;
    height: 50%;
  }
}
