# CircleCI 2.0 configuration file
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12.6

    working_directory: ~/project

    steps:
      # Clone repo
      - checkout

      # Install dependencies for Cypress
      - run:
          name: Install dependencies for Cypress
          command: |
            sudo apt-get update
            sudo apt-get install -y --no-install-recommends \
              libgtk2.0-0 \
              libgtk-3-0 \
              libnotify-dev \
              libgconf-2-4 \
              libnss3 \
              libxss1 \
              libasound2 \
              libxtst6 \
              xauth \
              xvfb

      # Restore dependencies from cache
      - restore_cache:
          keys:
            - v2-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v2-

      # Install package
      - run:
          name: Install package
          environment:
            NODE_ENV: development
          command: npm install

      # Save dependencies to cache
      - save_cache:
          paths:
            - node_modules
            - ~/.cache
          key: v2-{{ checksum "package.json" }}

      # Run tests, linting, building
      - run:
          name: Run tests, lint code, and build production package
          command: |
            set +e
            error=0

            # Add node programs to path
            export PATH=$PATH:node_modules/.bin

            # Run unit tests
            npm run test-unit
            if [[ $? -ne 0 ]]; then error=1; fi

            # Run integration tests
            npm start &
            wait-on http://localhost:3000
            npm run test-integration-run
            if [[ $? -ne 0 ]]; then error=1; fi
            npm stop

            npm run test-integration-report
            if [[ $? -ne 0 ]]; then error=1; fi

            # check for missing and unused dependencies
            depcheck .
            if [[ $? -ne 0 ]]; then error=1; fi

            # Lint JavaScript
            eslint src \
              --ignore-pattern node_modules/ \
              --ignore-pattern "test.js" \
              --ignore-pattern "*.test.js"
            if [[ $? -ne 0 ]]; then error=1; fi

            # Lint CSS
            stylelint .
            if [[ $? -ne 0 ]]; then error=1; fi

            # Lint JSON
            find . -name "*.json" -not -path "./node_modules/*" -print0 |
            while IFS= read -r -d '' line; do
              jsonlint -q "$line"
              if [[ $? -ne 0 ]]; then error=1; fi
            done

            # Lint svg
            find src -name "*.svg" | xargs -r svglint --ci
            if [[ $? -ne 0 ]]; then error=1; fi

            # Build production package
            NODE_ENV=production npm run build
            if [[ $? -ne 0 ]]; then error=1; fi

            # Analyze licenses of dependencies
            tldrlegal

            # Return error status
            if [[ $error -eq 0 ]]; then
              exit 0;
            else
              exit 1;
            fi

      # Save coverage reports
      - run:
          name: Save coverage reports
          command: |
            # merge coverage results
            lcov-result-merger \
              "./coverage/**/lcov.info" \
              "./coverage/lcov.info"

            # submit to Coveralls
            cat ./coverage/lcov.info | coveralls

            # submit to Code Climate
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > cc-test-reporter
            chmod +x cc-test-reporter
            sudo mv cc-test-reporter /usr/local/bin/cc-test-reporter

            cc-test-reporter format-coverage \
              coverage/lcov.info \
              --input-type lcov \
              --output coverage/codeclimate.json
            cc-test-reporter upload-coverage \
              --input coverage/codeclimate.json \
              --id ${CODECLIMATE_REPO_TOKEN}

      - store_test_results:
          path: /root/project/test-results
      - store_artifacts:
          path: /root/project/test-coverage
          destination: coverage
