@import 'colors';

.biochemical-entity-scene {
  /* entity metadata */
  .metadata-description {
    margin-left: 180px;

    p {
      margin-bottom: 9px;
    }
  }

  .img-description {
    position: relative;
    margin-top: 10px;
  }

  /* measurements-grid */
  .measurements-grid.ag-theme-balham {
    width: 100%;
    max-height: 1000px;

    .ag-side-bar {
      border-right: none;
      border-bottom: none;
    }

    .ag-tool-panel-wrapper {
      .ag-filter-panel {
        .ag-filter-list-panel > div.ag-last-group-visible > .ag-group-component.ag-collapsed {
          border-bottom: none;
        }
      }
    }

    .ag-column-tool-panel-column {
      .ag-column-drag {
        display: none;
      }
    }

    a {
      color: $color-text;
    }

    a:hover {
      color: $color-primary;
    }
  }

  /* taxonomy filter */
  .biochemical-entity-scene-taxonomy-slider-filter {
    height: 150px;
    width: 220px;
    margin-top: 10px;
    margin-bottom: -20px;
  }

  /* Tanimoto filter */
  .biochemical-entity-scene-tanimoto-slider-filter {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 10px;

    .MuiSlider-root {
      color: $color-border;
      height: 2px;
      padding: 15px 0;
    }

    .MuiSlider-thumb {
      height: 15px;
      width: 15px;
      background-color: $color-primary;
      box-shadow: none;
      margin-top: -7px;
      margin-left: -10px;
    }

    .MuiSlider-thumb:hover,
    .MuiSlider-thumb.MuiSlider-active {
      .MuiSlider-valueLabel {
        display: flex;
      }
    }

    .MuiSlider-valueLabel {
      left: calc(-50% + 11px);
      top: -17px;
      margin-left: -15px;
      display: none;
      font-style: 12px;

      & * {
        background: transparent;
        color: $color-text;
      }
    }

    .MuiSlider-trackInverted {
      height: 2px;
    }

    .MuiSlider-rail {
      height: 2;
      background-color: $color-primary;
    }

    .MuiSlider-mark {
      background-color: $color-border-dark;
      height: 8px;
      width: 2px;
    }

    .MuiSlider-markActive {
      background-color: $color-primary;
      width: 2px;
    }

    .MuiSlider-markLabel {
      font-size: 12px;
    }
  }

  /* Partial match filter */
  .biochemical-entity-scene-partial-match-filter {
    border: 2px solid #2f2;
    border-radius: 5px;
    background-color: #bfb;
    width: 200px;
    height: 50px;

    .form-control {
      height: 20px;
    }
  }
}
