@import 'colors';

.biochemical-entity-scene-columns-tool-panel {
  list-style-type: none;
  margin: 0;
  padding: calc(0.5rem - 2px) 0.5rem;
  width: calc(100% - 1rem);

  li {
    display: flex;
    align-items: center;

    > span {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  li:not(:first-child) {
    margin-top: 0.25rem;
  }

  input {
    margin: 0;
    margin-right: 0.25rem;
  }
}
