.biochemical-entity-rna-scene {
  .vertical-center {
    width: 200px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    img {
      margin-left: 20px;
      width: 45%;
      height: 50%;
    }
  }
}
