[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment protein.png [Image] 10 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=d65e0b8ed1&attid=0.1&permmsgid=msg-a:r6460035475981568627&th=16c76fb7033f0fca&view=att&disp=safe&realattid=f_jz49grbh0
Icon=text-html
