.header-component {
  display: flex;
  justify-content: space-between;
  background-color: #1890ff;
  box-shadow: 0 2px 2px #0006;

  /* logo and title */
  .logo-title-container {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    order: 1;
  }

  .logo-inner-container {
    height: 100%;
  }

  .logo {
    height: 100%;
  }

  .titles {
    color: #fff;
    margin-left: 5px;

    .title {
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 2px;
    }

    .subtitle {
      font-size: 14px;
      line-height: 14px;
      font-style: italic;
    }
  }

  /* search form */
  .search-container {
    order: 2;
    flex: 1;
  }

  .search-form {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .search-form-el {
    flex-basis: 95%;
  }

  .search-input {
    margin-top: -18px;
  }

  .search-input .bp3-input {
    background: #56aafe;
    border: 1px solid #75baff;
    border-radius: 3px;
    box-shadow: unset;
    color: #fff;
    height: 24px;
  }

  .bp3-input-group .bp3-input:not(:first-child) {
    padding-left: 28px;
  }

  .search-input .svg-inline--fa {
    position: relative;
    top: 22px;
    z-index: 1;
    height: 16px;
    width: auto;
    color: #fff6;
    margin-left: 7px;
  }

  .search-input.bp3-input-group > .bp3-icon,
  .search-input.bp3-input-group input::placeholder {
    color: #fff6;
  }

  .search-input.bp3-input-group input::placeholder {
    font-size: 14px;
  }

  .search-in {
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
  }

  .bp3-popover-target {
    width: 100%;
  }

  .search-submit.bp3-button,
  .search-submit.bp3-button:hover,
  .search-submit.bp3-button:active {
    background: none;
    box-shadow: none;
  }

  .search-submit .bp3-icon {
    color: #fff;
  }

  .search-submit:hover .bp3-icon {
    color: #ffc306;
  }

  .search-submit:disabled {
    color: #fff6;
    cursor: auto;
  }

  /* links to page */
  .page-links {
    order: 3;
    font-weight: bold;

    .bp3-button,
    .bp3-button .bp3-icon {
      color: #fff;
    }

    .bp3-button:hover,
    .bp3-button:active {
      background: unset;
    }

    .bp3-button:hover,
    .bp3-button:active,
    .bp3-button:hover .bp3-icon,
    .bp3-button:active .bp3-icon {
      color: #ffc306;
    }
  }
}
