/* page content */
.general {
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.general > .MuiGrid-root {
  max-width: 15%;
  flex-basis: 15%;
  margin-right: 2rem;
}

/* search input box */
.ConcSearch {
  display: none !important;
}

/* search results */
.general > .google.results {
  width: 100%;
}

.google.results > .MuiGrid-root {
  width: 100%;
  max-width: unset;
  flex-basis: unset;
}

.google.results button {
  background-color: #0084ff !important;
  border: #0a89ff !important;
  font-size: 16px;
  color: white;
}

.google.results > .MuiGrid-root > div {
  width: 100%;
  border: 1px solid #1890ff;
  border-radius: 4px;
  background: #f3f9ff;
  box-shadow: 3px 3px 5px #0006;
}

.google.results > .MuiGrid-root > div:not(:first-child) {
  margin-top: 2rem;
}

.google.results {
  .MuiTypography-h6 {
    color: #fff;
    background: #1890ff;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .MuiList-root {
    width: 100%;
    padding: 1rem;
  }

  li {
    padding: 0;
    margin: 0;

    .MuiListItemText-multiline {
      margin: 0;
    }
  }

  .contents {
    li:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

/* general styling */

.MuiGrid-root p { margin-bottom: 0; }

.google.results .MuiGrid-root .MuiTypography-colorPrimary a {
  color: black;
  font-weight: bold;
}

.google.results .MuiGrid-root .MuiTypography-colorTextSecondary a {
  color: black;
}

.google.results .MuiGrid-root .MuiTypography-colorTextSecondary .external_links a {
  color: #1890ff;
  font-size: 13px;
}
