
.general {
  padding-top: 60px;
  margin-left: 50px;
}

.anchor {
  position: relative;
  left: 0px;
  top: -40px;
}

.contents {
  background-color: #eaecee;
  border-style: solid;
  border-color: #939393;
  border-width: thin;
}


ul, ol {
 margin-left: 18px;
 padding-left: 0px;
}
