.container .definition_data{
	background-color:#c4c4c4;
  text-align: left;
  display:flex; 
  flex-direction:row;
  border-style: solid;
  border-color: #bfbfbf;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-bottom: 5px;
  margin-top: 5px;


}