@import '../../colors';

.content-container-home-scene {
  margin-top: 50px;
  margin-bottom: 1.5rem;

  h2 {
    font-size: 30px;
    margin: 0;
  }

  /* introduction */
  .intro {
    background: linear-gradient(0deg, rgba($color-primary, 0.1) 0%, rgba($color-primary, 0.4) 100%);

    .logo-title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logo-container,
    .logo {
      height: 5rem;
    }

    .logo-container {
      margin-right: 0.5rem;
    }

    h1 {
      font-size: 64px;
      color: $color-primary;
      margin: 0;
      padding-bottom: 3px;
    }

    h2 {
      font-size: 30px;
      margin-top: calc(2rem - 11px - 8px);
      margin-bottom: calc(2rem - 8px);
      margin-left: 0;
      margin-right: 0;
      font-style: italic;
      color: $color-text-light;
      text-align: center;
    }

    .search-form {
      margin-top: 2px;
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
      text-align: left;

      .search-input .bp3-input {
        background: none;
        border: 1px solid $color-primary-lightish;
        color: $color-primary-light;
        height: 30px;
        left: -22px;
        width: calc(100% - 28px - 5px - 2 * 1px);
      }

      .search-input .svg-inline--fa {
        height: 20px;
        color: $color-primary-light;
      }

      .search-input.bp3-input-group > .bp3-icon,
      .search-input.bp3-input-group input::placeholder {
        color: $color-primary-lighter;
      }

      .search-input.bp3-input-group input::placeholder {
        font-size: 16px;
      }

      .search-label {
        color: $color-primary-light;
        font-size: 16px;
      }

      .search-submit .bp3-icon {
        color: $color-primary-light;
      }

      .search-submit.bp3-disabled .bp3-icon {
        color: $color-primary-lighter;
      }
    }

    .examples {
      text-align: center;
      margin-top: 2rem;
      margin-bottom: calc(2rem - 4px);
      font-style: italic;

      li a.truncate {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        position: relative;
        top: 3.5px;
      }
    }

    p {
      font-size: 16px;
    }
  }

  .section {
    text-align: center;
  }

  .intro.section {
    .section-inner-container {
      border-bottom: none;
    }
  }

  /* workflow */
  .workflow {
    max-width: 100%;
  }

  .vertical-workflow-el {
    height: 4rem;
    display: flex;
    flex-direction: row;
  }

  .vertical-workflow-el-text {
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .vertical-workflow-el-text-inner {
    width: 100%;
  }

  .vertical-workflow-el-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .vertical-workflow-el-icon-container,
  .vertical-workflow-el-icon {
    width: 64px;
  }

  .vertical-workflow-el-icon-container {
    margin-right: 1rem;
    z-index: 1;
  }

  .vertical-workflow-el:not(:last-child) {
    margin-bottom: 2rem;
  }

  .vertical-workflow-el {
    .vertical-workflow-el-line {
      border-left: 2px dotted $color-border;
      height: calc(100% + 2rem);
      width: 0;
      position: relative;
      left: 32px;
      top: 32px;
      z-index: 0;
    }
  }

  .vertical-workflow-el:last-child {
    .vertical-workflow-el-line {
      display: none;
    }
  }

  .vertical-workflow-el:not(:last-child).vertical-workflow-el-search {
    .vertical-workflow-el-line {
      top: calc(32px + 10px);
      height: calc(100% + 2rem - 10px);
    }
  }

  .vertical-workflow-el:not(:last-child).vertical-workflow-el-analyze {
    .vertical-workflow-el-line {
      top: calc(32px + 15px);
      height: calc(100% + 2rem - 15px);
    }
  }

  /* about */
  .about-icons {
    .about-icon {
      margin-top: 1rem;
    }

    a:not(:first-child) {
      margin-left: 1rem;
    }

    a.about-icon-mssm {
      margin-left: 0;
    }

    a,
    .about-icon {
      height: 64px;
    }
  }
}
