.home h1,
h2 {
  text-align: center;
}

.home h1 {
  font-size: 36px;
  line-height: 28px;
  color: #1890ff;
}

.home h2 {
  font-size: 30px;
  line-height: 22px;
  color: #333;
}

.home .section {
  text-align: center;
}

.home .section:not(:last-child) {
  margin-bottom: 2rem;
}

.home .intro h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
}
