.content-container-home-scene {
  margin-top: 50px;
  margin-bottom: 0;

  h1,
  h2 {
    text-align: center;
    margin: 0;
  }

  h1 {
    font-size: 64px;
    line-height: 64px;
    color: #1890ff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 30px;
    line-height: 22px;
    color: #1890ff;
    margin-bottom: 1rem;
  }

  /* sections */
  .section {
    text-align: center;
  }

  .section:not(:last-child) {
    .section-inner-container {
      border-bottom: 1px solid #ccc;
    }
  }

  .section-inner-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .section-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 2rem;
  }

  .section-3-columns {
    .section-column {
      width: calc(100% / 3 - 2rem);
    }
  }

  .section-4-columns {
    .section-column {
      width: calc(100% / 4 - 2rem);
    }
  }

  .section-5-columns {
    .section-column {
      width: calc(100% / 5 - 2rem);
    }
  }

  .section-column {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section-column-icon {
    height: 64px;
  }

  .section-column-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  /* introduction */
  .intro {
    background: #1890ff22;
    background: linear-gradient(0deg, #1890ff22 0%, #1890ff55 100%);

    .logo {
      margin-right: 0.5rem;
      height: 5rem;
    }

    h2 {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-style: italic;
      color: #1890ff99;
    }

    p {
      font-size: 16px;
    }
  }

  .intro.section {
    .section-inner-container {
      border-bottom: none;
    }
  }

  /* workflow */
  .workflow-icons {
    max-width: 100%;
  }

  /* about */
  .about-icons {
    a:not(:first-child) {
      margin-left: 1rem;
    }

    a.about-icon-mssm {
      margin-left: 0;
    }

    img {
      height: 64px;
    }
  }
}
