.about p {
    margin-bottom: 0;
}
.about p:not(:last-child) {
    margin-bottom: 1rem;
}
.about p.no-bottom-margin,
.about p.no-bottom-margin:not(:last-child) {
    margin-bottom: 0;
}

.about ul:last-child {
    margin-bottom: 0px
}

.about .developer-photos {
    text-align: center;
}

.about .developer-photos .photo {
    float: left;
}
.about .developer-photos .photo:not(:first-child) {
    margin-left: 1rem;
}

.about .developer-photos:after {
    content: "";
    clear: both;
    display: table;
}

.about .funding-icons {
}

.about .funding-icons img:not(:first-child) {
    margin-left: 1rem;
}

.about .social-icon {
    margin-left: 0.25rem;
    position: relative;
    top: -2px;
}
