.content-container-about-scene {
  /* developers */
  .developers-group {
    margin-top: 1rem;

    h3 {
      font-weight: bold;
      color: #1890ff;
    }
  }

  .additional-developers-group {
    h3 {
      margin-bottom: 0;
    }
  }

  .main-developers-group-list::after {
    content: "";
    clear: both;
    display: table;
  }

  .main-developer {
    float: left;

    .developer-name {
      margin-top: 0.25rem;
      text-align: center;
    }
  }

  .main-developer:not(:first-child) {
    margin-left: 1rem;
  }

  .developer-name {
    .social-icon {
      margin-left: 0.25rem;
      position: relative;
      top: -1px;
    }
  }

  /* funding */
  .funding-icons img:not(:first-child) {
    margin-left: 1rem;
  }
}
