@import 'colors';

.biochemical-entity-scene-stats-tool-panel {
  height: 100%;
  min-height: 350px;
  max-height: 500px;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 12px;

  .biochemical-entity-scene-stats-tool-panel-plot {
    flex: 1;
  }

  .summary {
    margin-left: auto;
    margin-right: auto;

    th {
      text-align: right;
      font-weight: 500;
      margin-right: 0.125rem;
    }

    td {
      text-align: right;
      margin-left: 0.125rem;
      width: 55px;
      border: 1px solid $color-border;
      border-radius: 3px;
    }
  }
}
