
.consensus {
  border-style: solid;
  border-color: #fcd1d5;
}

.consensus .summary {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-style: solid;
  border-color: #fcd1d1;
}
