$color-primary: #1890ff;
$color-primary-light: #51abff; // 25% lighter
$color-primary-lighter: #8bc7fe; // 50% lighter
$color-accent: #ffc306;
$color-white: #fff;
$color-white-transparent: #ffffff80;
$color-text: #333;
$color-heading: #5c5c5c;
$color-border: #e0e0e0;
$color-shadow: #0006;
