body {
  margin: 0;
  color: #333;
}

/* paragraphs */
#root p {
  margin-bottom: 0;
}

#root p:not(:last-child) {
  margin-bottom: 1rem;
}

#root p.no-bottom-margin,
#root p.no-bottom-margin:not(:last-child) {
  margin-bottom: 0;
}

/* lists */
ul,
ol {
  margin-left: 18px;
  padding-left: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

ul.no-top-margin,
ol.no-top-margin {
  margin-top: 0;
}

/* links */
a,
a:hover {
  color: #1890ff;
}

a:hover {
  text-decoration: none;
}

/* content container */
.content-container {
  margin-top: calc(50px + 2rem);
  margin-bottom: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.full-width-content-container {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}

.content-container-columns {
  display: flex;
  justify-content: space-between;
}

/* page loader */
.loader_container {
  margin-top: 50px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: fixed;
  top: 50%;
  width: 100px;
  animation: spin 2s linear infinite;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* section blocks */
.content-block {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 3px 3px 5px #0006;
}

.content-block:not(:first-child) {
  margin-top: 2rem;
}

.content-block-heading {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  padding-left: 0.5rem;
  margin: 0;
  color: #fff;
}

.content-block-content {
  padding: 0.5rem;
}

/* table of contents */
.table-of-contents {
  color: #333;
  height: min-content;
  margin-right: 2rem;
  border-color: #ffc306;
  background: #fffcf2; /* 95% lighten of accent color */
  position: sticky;
  top: calc(50px + 2rem);
  width: 160px;
  min-width: 160px;
}

.table-of-contents .content-block-heading {
  background: #ffc306;
}

.table-of-contents ol {
  list-style-type: circle;
  margin: 0;
  margin-left: 1rem;
}

.table-of-contents a {
  margin-left: -0.125rem;
  color: #333;
}

.table-of-contents a:hover {
  color: #1890ff;
}

/* block section (section with a heading bar, background color, and border) */
.content-block.section {
  border-color: #1890ff;
  background: #f3f9ff;
}

.section .content-block-heading {
  background: #1890ff;
}

/* autocomplete menu */
.bp3-overlay {
  .bp3-popover {
    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.1),
      0 2px 4px rgba(0, 0, 0, 0.2),
      0 8px 24px rgba(0, 0, 0, 0.2);

    .bp3-popover-arrow-fill {
      fill: #1890ff;
    }
  }

  .bp3-menu {
    max-height: 200px;
    overflow-x: hidden;
    background: #1890ff;
    color: #fff;

    .bp3-menu-item.bp3-intent-primary.bp3-active {
      background: #56aafe;
    }

    .bp3-menu-item:hover,
    .bp3-menu-item:active {
      background-color: #56aafe;
    }

    .bp3-menu-item.bp3-disabled {
      color: #fff9 !important;
    }
  }
}

/* focus */
:focus {
  outline: none;
}

/* hover zoom affect */
.hover-zoom {
  transition: all 0.5s;
}

.hover-zoom:hover {
  transform: scale(1.08);
}
