@import './colors';

* {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.28581;
}

body {
  margin: 0;
  color: $color-text;
  font-size: 14px;
}

/* paragraphs */
#root p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0;
}

#root p:not(:last-child) {
  margin-bottom: 0.5rem;
}

#root p.no-bottom-margin,
#root p.no-bottom-margin:not(:last-child) {
  margin-bottom: 0;
}

/* subsections */
.subsection:not(:last-child) {
  margin-bottom: 0.5rem;
}

.subsection-title {
  font-weight: bold;
}

.subsection-title a {
  color: $color-text;
}

.subsection-description,
.subsection-description a {
  color: $color-text-light;
}

/* lists */
ul,
ol {
  margin-left: 18px;
  padding-left: 0;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

ul.no-top-margin,
ol.no-top-margin,
ul:first-child,
ol:first-child {
  margin-top: 0;
}

.comma-separated-list {
  list-style-type: none;
  margin: 0;
  display: inline;

  li {
    display: inline;
  }

  li:not(:last-child)::after {
    content: ", ";
  }
}

.two-col-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 1rem;
}

.three-col-list {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  column-gap: 1rem;
}

.four-col-list {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  column-gap: 1rem;
}

.five-col-list {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
  column-gap: 1rem;
}

.key-value-list {
  list-style-type: none;
  margin: 0;

  > li {
    padding-left: 0.5rem;
    text-indent: -0.5rem;
  }

  > li:not(:first-child) {
    margin-top: 0.25rem;
  }

  b {
    font-weight: bold;
    text-align: left;
  }
}

.key-value-list.key-value-list-spaced {
  li:not(:first-child) {
    margin-top: 0.5rem;
  }
}

.bulleted-list-item {
  margin-left: -0.25rem;
}

.vertically-spaced > li:not(:first-child) {
  margin-top: 0.5rem;
}

/* links */
a {
  cursor: pointer;
}

a,
a:hover {
  color: $color-primary;
  text-decoration: none;
}

/* content container */
.content-container {
  max-width: 1200px;
  margin: calc(50px + 3rem) auto 3rem;
  padding: 0 1rem;
  min-height: calc(100vh - 42px - 50px - 3rem - 3rem);
}

.full-width-content-container {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  .section {
    padding: 0 1rem;
  }
}

.content-container-columns {
  display: flex;
  justify-content: space-between;

  .overview-column {
    height: min-content;
    margin-right: 3rem;
    position: sticky;
    top: calc(50px + 3rem);
    width: 160px;
    min-width: 160px;

    .content-block-heading {
      color: $color-heading;
    }
  }

  .content-column {
    width: 100%;
  }
}

/* page title */
.page-title {
  font-size: 1.75rem;
  color: $color-primary;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $color-border;
  margin-bottom: 3rem;
}

/* page loader */
.loader {
  border: 16px solid $color-border;
  border-top: 16px solid $color-primary;
  border-radius: 50%;
  height: 100px;
  margin: auto;
  width: 100px;
  animation: spin 2s linear infinite;
  transform: translate(-50%, -50%);
}

.loader-full-content-container {
  margin-top: 50px;
  min-height: calc(100vh - 42px - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* section blocks */
.content-block:not(:first-child) {
  margin-top: 3rem;
}

.content-block-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.content-block-heading {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
  margin-bottom: 0.5rem;
}

.content-block-heading-actions {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.content-block-content {
  padding: 0.5rem;
  border: 1px solid $color-border;
  border-radius: 3px;
}


/* sections */
.section-title-separator {
  height: 0;
  margin-left: auto;
  margin-right: auto;
  width: 4rem;
  border-bottom: 2px solid $color-primary;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-inner-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(3rem - 2px);
  padding-bottom: 3rem;
  border-bottom: 1px solid $color-border;
}

.section-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 2rem;
}

.section-2-columns {
  .section-column {
    width: calc((100% - (2 - 1) * 2rem) / 2);
  }
}

.section-3-columns {
  .section-column {
    width: calc((100% - (3 - 1) * 2rem) / 3);
  }
}

.section-4-columns {
  .section-column {
    width: calc((100% - (4 - 1) * 2rem) / 4);
  }
}

.section-5-columns {
  .section-column {
    width: calc((100% - (5 - 1) * 2rem) / 5);
  }
}

.section-column {
  text-align: center;
}

.section-column-icon-container,
.section-column-icon {
  height: 64px;
}

.section-column-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.section-column-subtitle {
  font-size: 17px;
  color: $color-primary;
  margin-top: 0.5rem;
}

.section-column-subsection-title {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0.5rem;
}


/* table of contents */
.table-of-contents {
  ul {
    list-style-type: circle;
    margin: 0;
    margin-left: 1rem;

    a {
      margin-left: -0.125rem;
    }
  }

  ol {
    margin: 0;
    margin-left: 1rem;
  }

  a {
    color: $color-text;
  }

  a:hover {
    color: $color-primary;
  }
}

/* block section (section with a heading bar, background color, and border) */
.section {
  .content-block-heading {
    color: $color-accent;
  }
}

/* suggest menu */
.bp3-portal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  .bp3-overlay {
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;

    .bp3-transition-container {
      opacity: 1;
      display: flex;
      z-index: 20;
    }

    .bp3-popover {
      box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.1),
        0 2px 4px rgba(0, 0, 0, 0.2),
        0 8px 24px rgba(0, 0, 0, 0.2);
      transform: scale(1);
      display: inline-block;
      z-index: 20;
      border-radius: 3px;

      .bp3-popover-arrow {
        position: absolute;
        width: 30px;
        height: 30px;
      }

      .bp3-popover-arrow::before {
        box-shadow: 1px 1px 6px rgba(16, 22, 26, 0.2);
        margin: 5px;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        transform: rotate(45deg);
        border-radius: 2px;
        content: "";
      }

      .bp3-popover-arrow-border {
        fill: #000;
        fill-opacity: 0.1;
      }

      .bp3-popover-arrow-fill {
        fill: $color-primary;
      }

      .bp3-popover-content {
        position: relative;
        border-radius: 3px;
        background: #fff;
        color: inherit;
      }
    }

    .bp3-menu {
      min-width: 180px;
      max-height: 200px;
      overflow-x: hidden;
      background: $color-primary;
      margin: 0;
      border-radius: 3px;
      padding: 0.25rem;
      list-style: none;

      .bp3-menu-item {
        color: $color-white;
        border-radius: 3px;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
      }

      .bp3-menu-item.bp3-intent-primary.bp3-active {
        background: $color-primary-light;
      }

      .bp3-menu-item:hover,
      .bp3-menu-item:active {
        background-color: $color-primary-light;
      }

      .bp3-menu-item.bp3-disabled {
        color: $color-primary-lighter !important; // !important is neeed because blueprint uses !important
      }
    }
  }
}

/* dialogs */
body {
  .MuiButton-textPrimary {
    color: $color-primary;
  }

  .MuiPaper-root {
    .MuiDialogTitle-root {
      color: $color-text;
    }
  }

  .MuiTypography-colorTextSecondary {
    color: $color-text-lighter;
    margin: 0;
  }

  .MuiDialogTitle-root {
    padding: 1rem 1rem 0.75rem 1rem;
  }

  .MuiDialogContent-root {
    padding: 0 1rem;

    .dialog-message-container {
      span {
        display: block;
      }

      span:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }

  .MuiDialogActions-root {
    padding: 0.75rem;
    padding-top: 0.375rem;
  }

  .MuiButton-text {
    padding-right: 0.75rem;
  }

  .MuiButton-textPrimary:hover {
    background-color: $color-primary-light;
    color: $color-white;
  }

  .MuiButton-textPrimary:active {
    background-color: $color-primary-lightish;
    color: $color-white;
  }

  .MuiTouchRipple-root {
    display: none;
  }
}

/* buttons */
button {
  cursor: pointer;
}

.text-button {
  background: none;
  border: none;
  padding: 0;
}

.text-button:hover,
.text-button:active {
  cursor: pointer;
  color: $color-primary;
}

.icon-button {
  background: none;
  border: none;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;

  .bp3-icon {
    margin-right: 0.25rem;

    > svg:not([fill]) {
      fill: currentColor;
    }
  }
}

/* highlight */
.highlight-primary {
  color: $color-primary;
}

.highlight-accent {
  color: $color-accent;
}

.highlight-text {
  color: $color-text;
}

/* hide */
.hide {
  display: none;
}

/* focus */
:focus {
  outline: none;
}

/* hover zoom affect */
.hover-zoom {
  transition: all 0.5s;
}

.hover-zoom:hover {
  transform: scale(1.08);
}

/* no pointer events */
.no-pointer-events {
  pointer-events: none;
}

/* text selection */
::selection {
  background: rgba($color-accent, 0.3);
}
