.header{
  height: 10vh;
  display:flex;
  top: 0;
  left: 0;
  width: 100%;
}
.sider{
  background: "#fff";
}
.main
{
  padding: 1% 0 1%;
}
.content{
  background:"#fff";
  min-height: 80vh;
}
.footer{
  text-align: center;
}