@import 'colors';

body {
  margin: 0;
  color: $color-text;
}

/* paragraphs */
#root p {
  margin-bottom: 0;
}

#root p:not(:last-child) {
  margin-bottom: 1rem;
}

#root p.no-bottom-margin,
#root p.no-bottom-margin:not(:last-child) {
  margin-bottom: 0;
}

/* lists */
ul,
ol {
  margin-left: 18px;
  padding-left: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

ul.no-top-margin,
ol.no-top-margin,
ul:first-child,
ol:first-child {
  margin-top: 0;
}

/* links */
a,
a:hover {
  color: $color-primary;
}

a:hover {
  text-decoration: none;
}

/* content container */
.content-container {
  margin-top: calc(50px + 3rem);
  margin-bottom: 3rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  min-height: calc(100vh - 42px - (50px + 3rem) - 3rem);
}

.full-width-content-container {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}

.content-container-columns {
  display: flex;
  justify-content: space-between;

  .content-column {
    width: 100%;
  }
}

/* page loader */
.loader-container {
  margin-top: 50px;
  min-height: calc(100vh - 42px - 50px);
}

.loader {
  border: 16px solid $color-border; /* Light grey */
  border-top: 16px solid $color-primary; /* Blue */
  border-radius: 50%;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: fixed;
  top: 50%;
  width: 100px;
  animation: spin 2s linear infinite;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* section blocks */
.content-block:not(:first-child) {
  margin-top: 3rem;
}

.content-block-heading {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
  margin-bottom: 0.5rem;
}

.content-block-content {
  padding: 0.5rem;
  border: 1px solid $color-border;
  border-radius: 3px;
}

/* table of contents */
.table-of-contents {
  height: min-content;
  margin-right: 3rem;
  position: sticky;
  top: calc(50px + 3rem);
  width: 160px;
  min-width: 160px;

  .content-block-heading {
    color: $color-heading;
  }

  ul {
    list-style-type: circle;
    margin: 0;
    margin-left: 1rem;

    a {
      margin-left: -0.125rem;
    }
  }

  ol {
    margin: 0;
    margin-left: 1rem;
  }

  a {
    color: $color-text;
  }

  a:hover {
    color: $color-primary;
  }
}

/* block section (section with a heading bar, background color, and border) */
.section {
  .content-block-heading {
    color: $color-primary;
  }
}

/* autocomplete menu */
.bp3-overlay {
  .bp3-popover {
    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.1),
      0 2px 4px rgba(0, 0, 0, 0.2),
      0 8px 24px rgba(0, 0, 0, 0.2);

    .bp3-popover-arrow-fill {
      fill: $color-primary;
    }
  }

  .bp3-menu {
    max-height: 200px;
    overflow-x: hidden;
    background: $color-primary;
    color: $color-white;

    .bp3-menu-item.bp3-intent-primary.bp3-active {
      background: $color-primary-light;
    }

    .bp3-menu-item:hover,
    .bp3-menu-item:active {
      background-color: $color-primary-light;
    }

    .bp3-menu-item.bp3-disabled {
      color: $color-primary-lighter !important; // !important is neeed because blueprint uses !important
    }
  }
}

/* highlight */
.highlight-primary {
  color: $color-primary;
}

.highlight-accent {
  color: $color-accent;
}

/* focus */
:focus {
  outline: none;
}

/* hover zoom affect */
.hover-zoom {
  transition: all 0.5s;
}

.hover-zoom:hover {
  transform: scale(1.08);
}
